
body {
    padding: 2% 10% 2% 10%;
    background-color:grey ;
}


h1{
    color: yellow ;
    text-align: center ;
    font-style: italic;

}

p {
    font-family: Verdana;
    font-size: 20px;
    color: black;
    text-align: justify;
    text-justify: inter-word;
}

.textwrap {
    clear:right;
    float : left ;
    margin : 10px ;
}

.container{
    width: 80%;
    margin: 0 auto;
}


.logo{
    float: left;
    padding: 10px 0;
}


header {
    background: black;

}

header::after {
 content:'';
 display: table;
 clear: both;
}

nav{
    float:left;
}



nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}



nav li{
     display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    
    position: relative;
}







nav a{
 color : white;
 text-decoration: none;
 text-transform: uppercase;
 }



 nav a:hover{
     color: grey;
 }


 nav a::before{
     content:'';
     display:block;
     height: 5px;
     width:0%;
     background-color: white;

     position:absolute;
     top:0;

     transition: all ease-in-out 250ms;
    }


nav a:hover::before{
    width:100%;
}